.t-resume-page {
}

.arrow-icon {
    transition: all ease-in 500ms;
    -moz-transition: all 500ms ease-in; /* Firefox 4 */
    -webkit-transition: all 500ms ease-in; /* Safari and Chrome */
    -o-transition: all 500ms ease-in; /* Opera */
    -ms-transition: all 500ms ease-in; /* Explorer 10 */
}

.arrow-icon__drop-down {
    transform: rotateZ(0deg);
}

.arrow-icon__upside-down {
    transform: rotateZ(180deg);
}

.expander-content {
    transition: max-height ease-in-out 1000ms;
    overflow: hidden;
}

.expander-content__expanding {
    max-height: 1500px;
}
.expander-content__hiding {
    max-height: 0px;
}
